{% extends 'temp.html' %}

{% block main %}
<h2>Add Product</h2>
<hr>
<form method="post" action="{% url 'add_Category' %}" style="text-align: center;">
    {% csrf_token %}
    
      
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Category id</span>
        &nbsp; <input name="C_id" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default" >category name</span>
        &nbsp; <input name="C_name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      
      
   <button type="submit" id="submit-btn" class="btn btn-secondary btn-sm" style="height: 50px;width: 200px;color: coral;" >
    <span class="bi-plus-square-fill"></span>
    <span class="bi bi-plus"></span>&nbsp;  submit  
    </button>
</form>

{% endblock %}