{% extends 'temp.html' %}
{% block main %}   
<div class="text-center">
  <h3>{{msg}}</h3> 
  <a  active href="{% url 'add_Category' %}" style="text-decoration: none;">
  <button type="button" class="btn btn-secondary btn-sm" style="height: 50px;width: 200px;color: coral;" >
    Add Category
    <span class="bi-plus-square-fill"></span>
    <span class="bi bi-plus"></span>&nbsp;  
  </button>
  </a>
    <table class="table table-dark">
        <thead style="height: 80px;color: coral;">
          <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
                                   
          </tr>
        </thead>
        <hr>
        {% for category in category %}
        <tbody >
          <tr>
            <td>{{category.Cate_id}}</td>
            <td>{{category.Cate_name}}</td>
            
          </tr>
        </tbody>
        {%endfor%}
      </table>
      <div class="text-center">
      
      
    </div>
</div>
{% endblock %}