{% extends 'temp.html' %}


view
{% block main %}    
<div class="text-center">
  {% if msg %}
      <script>
    alert("{{msg}}");
    </script>
{% endif %}
    <center>
  <a  active href="{% url 'add_offer' %}" style="text-decoration: none;">
  <button type="button" class="btn btn-secondary btn-sm" style="height: 50px;width: 200px;color: coral;" >
    Add offer
    <span class="bi-plus-square-fill"></span>
    <span class="bi bi-plus"></span>&nbsp;  
  </button>
  </a>
  <br>
  &nbsp;
    <table class="table table-striped" style="border-radius: 20px;">
        <thead style="height: 80px;color: coral;">
          <tr>
            <th scope="col">offer_id</th>
            <th scope="col">offer_name</th>
            <th scope="col">p_id</th>
            <th scope="col">offer_type</th>
            <th scope="col">percentage</th>
            <th scope="col">start_date</th>
            <th scope="col">end_date</th>
            <th scope="col">isActive</th>                        
            <th scope="col">description</th>   
            <th></th>                     
          </tr>
        </thead>
        
               
        <tbody >
   
        {% for detail in details %}
          <tr>
            <td>{{detail.offer_id}}</td>
            <td>{{detail.offer_name}}</td>
            {% for ProDetail in ProDetails %}
            {% if detail.p_id == ProDetail.P_id %}
            <td>{{ProDetail.P_name}}-{{ProDetail.P_id}}</td>
            {%endif%}
            {%endfor%}
            <td>{{detail.offer_type}}</td>
            <td>{{detail.discount_per}} %</td>
            <td>{{detail.start_date}}</td>
            <td>{{detail.end_date}}</td>
            <td>{{detail.isActive}}</td>
            <td>{{detail.description}}</td>
           
            <td><a href="delete-offer/{{detail.offer_id}}">Remove</del></a></td>
        </tr>
        {%endfor%}
      </tbody>

      </table>
    
    </div>
  </center>
{% endblock %}
