{% extends 'temp.html' %}

{% block main %}    
<h3>Orders</h3>
<br>

    <table class="table table-striped">
        <thead style="height: 80px;color: black;">
          <th>
            <th scope="col">id</th>
            <th scope="col">Customer id</th>
            <th scope="col">order date</th>
            <th scope="col">address</th>
            <th scope="col">total</th>
            <th scope="col">discount</th> 
            <th scope="col">payment method</th>
            <th scope="col">type</th>   
            <th scope="col" ></th>   
           </tr>
        </thead>
        <hr>
        
        <tbody >{% for order in orders %}
         
            <tr>
              <td></td>
              <td>{{ order.O_id }}</td>
              <td>{{ order.Cust_id }}</td>
              <td>{{ order.O_date }}</td>
              <td>{{ order.O_address }}</td>
              <td>{{ order.o_total_amt }}</td>
              <td>{{ order.o_disc_price }}</td>
              <td>{{ order.O_payment_mtd }}</td>
              <td>{{ order.O_type }}</td>
              <td><a href="order-products/{{order.O_id}}">Products</a></td>
              </tr>
         
        {% endfor %}
    
        </tbody>
        
      </table>
      <div class="text-center">
      
      
    </div>
{% endblock %}