{% extends 'temp.html' %}
view
{% block main %}
{% load static %}
<div class="text-center">
  {% if msg %}
  <script>
    alert("{{msg}}");
  </script>
  {% endif %}
  <center>
    <a active href="{% url 'add_product' %}" style="text-decoration: none;">
      <button type="button" class="btn btn-secondary btn-sm" style="height: 50px;width: 200px;color: coral;">
        Add Product
        <span class="bi-plus-square-fill"></span>
        <span class="bi bi-plus"></span>&nbsp;
      </button>
    </a>
    
    &nbsp;
    <form method="POST" action="{% url 'products' %}" style="background-color: #fff; border: 1px solid #ddd; border-radius: 5px; padding: 20px; margin-bottom: 20px;margin-top: 20px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
      {% csrf_token %}
      <h4><label for="start_date" style=" margin-bottom: 8px;">Search Name :</label></h4>
      <input type="text" id="search" name="search" style=" padding: 8px; font-size: 16px; border: 1px solid #ccc; border-radius: 4px;">
      <button type="submit" style="padding: 10px 20px; font-size: 16px; background-color: #FF7518; color: #fff; border: none; border-radius: 4px; cursor: pointer; transition: background-color 0.3s ease;">Search</button>
  </form>
    <table class="table table-striped">
      <thead style="height: 80px;color: coral;">
        <tr>
          <th scope="col">id</th>
          <th scope="col">name</th>
          <th scopeff="col">price</th>
          <th scope="col">currunt stock</th>
          <th scope="col">rating</th>
          <th scope="col">description</th>
          <th scope="col">photo</th> 
          <th scope="col">size</th>
          <th scope="col">color</th>
          <th scope="col">material_type</th>
          <th scope="col">project_type</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>

        {%for product in products%}
        <tr>
          <td>{{product.P_id}}</td>
          <td>{{product.P_name}}</td>
          <td>{{product.P_price}}</td>
          <td>{{product.P_curstock}}</td>
          <td>{{product.P_rating}}</td>
          <td>{{product.P_desc}}</td>
          {%for image in pro_img%}
          {% if image.p_id == product.P_id %}
          <td>
            <img src="{% static image.p_img_link %}" alt="{{image.p_img_link}}" width="50" height="50">
          </td>
          {%endif%}
          {%endfor%}
          
          {% for subcat in subcats %}
          {%if subcat.sub_cat_id == product.P_subcat_id %}
          <td>{{ subcat.size }}</td>
          <td>{{ subcat.color }}</td>
          <td>{{ subcat.material_type }}</td>
          <td>{{ subcat.product_type }}</td>
          {% endif %}
          {% endfor %}

          <td><a href="edit-product/{{product.P_id}}">Edit</del></a></td>
          <td><a href="delete-product/{{product.P_id}}">Delete</del></a></td>
        </tr>
        {%endfor%}
      </tbody>

    </table>

</div>
</center>
{% endblock %}