{% extends 'temp.html' %}

{% block main %}    
<div class="text-center">
    <h3>{{msg}}</h3>
  <a  active href="{% url 'add_product' %}" style="text-decoration: none;">
  <button type="button" class="btn btn-secondary btn-sm" style="height: 50px;width: 200px;color: coral;" >
    Add Product
    <span class="bi-plus-square-fill"></span>
    <span class="bi bi-plus"></span>&nbsp;  
  </button>
  </a>
    <table class="table table-dark">
        <thead style="height: 80px;color: coral;">
          <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">price</th>
            <th scope="col">currunt stock</th>
            <th scope="col">rating</th>
            <th scope="col">description</th>                        
            <th scope="col">photo</th>                        
          </tr>
        </thead>
        <hr>
               
        {%for product in products%}
        <tbody >
          <tr>
            <td>{{product.P_id}}</td>
            <td>{{product.P_name}}</td>
            <td>{{product.P_price}}</td>
            <td>{{product.P_curstock}}</td>
            <td>{{product.P_rating}}</td>
            <td>{{product.P_desc}}</td>
            <td>
              <img src={{pro_img.P_img_link}} alt="image" width="50" height="50">
            </td>
            <td><a href="edit-product/{{product.P_id}}">Edit</del></a></td>
            <td><a href="delete-product/{{product.P_id}}">Delete</del></a></td>
        </tr>
        </tbody>
        {%endfor%}
      </table>
    
    </div>
{% endblock %}