{% extends 'temp.html' %}
view
{% block main %}  
<h3>Order Refund Table</h3>
<table class="table table-whitess">
    <thead style="height: 80px;color: coral;">
      <tr>
        <th scope="col">id</th>
        <th scope="col">order_id</th>
        <th scope="col">return_status</th>
        <th scope="col">return_price</th>
        <th scope="col">return_tran_id</th>
                               
      </tr>
    </thead>
    <tbody>
    <hr>
    {% for refund in refunds %}
      <tr>
        <td>{{refund.return_id}}</td>
        <td>{{refund.O_id}}</td>
        <td>{{refund.return_status}}</td>
        <td>{{refund.return_price}}</td>
        <td>{{refund.return_tran_id}}</td>
        {% if refund.return_status == "complated" %}
        <td><a href="https://dashboard.razorpay.com/app/payments">Refund</del></a></td>
        {% endif %}
      </tr>
    {%endfor%}
  </tbody>

  </table>
{% endblock %}