{% extends 'temp_emp.html' %}
view
{% block main %}  
<h1>Return Request</h1>
<table class="table table-striped">
    <thead style="height: 80px;color: coral;">
      <tr>
        <th scope="col">id</th>
        <th scope="col">order_id</th>
        <th scope="col">return_status</th>
        <th scope="col">return_price</th>
        <th scope="col">return_tran_id</th>
      </tr>
    </thead>
    <tbody>
    {% for refund in refunds %}
      <tr>
        <td>{{refund.return_id}}</td>
        <td>{{refund.order_id}}</td>
        <td>{{refund.return_status}}</td>
        <td>{{refund.return_price}}</td>
        <td>{{refund.return_tran_id}}</td>
        <td><a href="return_change/{{refund.return_id}}">edit</del></a></td>
      </tr>
    {%endfor%}
  </tbody>

  </table>
{% endblock %}