{% extends 'temp.html' %}

{% load static %}
{% block main %}    
<h3>User List</h3>
    <table class="table table-striped ">
        <thead style="height: 80px;color: coral;">
          <tr>
            <!-- <th scope="col">id</th> -->
            <th scope="col">id</th>
            <th scope="col">First Name</th>
            <th scope="col">Email </th>
            <th scope="col">Contact No</th> 
            <th scope="col">Dob</th>
            <th scope="col">Password</th>
            <th scope="col">Address</th>
            <th scope="col">Pincode</th>
            <th scope="col">photo</th>
        </thead>
        <hr>
        <tbody >

        {% for u in user %}
          <tr>
              <td>{{u.Cust_id}}</td>
              <td>{{u.First_name}} {{u.Last_name}}</td>
            <td>{{u.Email_id}}</td>
            <td>{{u.Contact_no}}</td>
            <td>{{u.Dob}}</td>
            <td>{{u.Password}}</td>
            <td>{{u.Address}}</td>
            <td>{{u.Pincode}}</td>
            <td><img src="{% static u.Profile_pic %}" alt="hh" width="50" height="50"></td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
      <div class="text-center">
      
      
    </div>
{% endblock %}